#address-dropdown {
    width: 100%;
    height: max-height;
    background: white;
    border-radius: 10px;
}

#address-dropdown > div {
    width: 100%;
    height: max-height;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 14px;
}

#address-dropdown > div:hover {
    background: #0001;
}