MONGO_URI=mongodb://localhost:27017/shareit
JWT_SECRET=shareit_dev_secret_chan_ge_this_before_production

# Twitter API Keys
TWITTER_API_KEY= twitter api key
TWITTER_API_SECRET= twitter api key
TWITTER_ACCESS_TOKEN= twitter access token
TWITTER_ACCESS_SECRET= twitter access secret

# OpenWeatherMap weather key
Weather_API_KEY=demo weather api key
#Google Maps API Key
GOOGLE_MAPS_API_KEY= Google Maps API Key
